* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 98vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box-login {
  margin-top: 150px;
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #dad5d5;
  box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px,
    rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px,
    rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px,
    rgba(42, 51, 70, 0.04) 0px 6px 6px -3px,
    rgba(14, 63, 126, 0.04) 0px 12px 12px -6px,
    rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
}
.box-login h1 {
  text-align: center;
  user-select: none;
}
.box-login input {
  display: block;
  background-color: #f3f3f3;
  outline: none;
  font-size: 16px;
  padding: 7px 5px;
  width: 90%;
  border: 1px solid #fff;
  margin: auto;
  font-family: vazir;
  border-radius: 5px;
  transition: 0.5s;
}
.box-login input:focus {
  background-color: #fff;
  border-color: #333;
  transform: 0.5s;
}
.box-login label {
  display: block;
  width: 90%;
  margin: auto;
  margin-top: 15px;
}
.box-login button {
  display: block;
  margin: auto;
  border: none;
  outline: none;
  margin-top: 20px;
  padding: 5px 10px;
  font-family: vazir;
  color: #fff;
  border-radius: 7px;
  font-size: 15px;
  background-color: #000;
  border: 1px solid #fff;
  transition: 0.5s;
  cursor: pointer;
}
.box-login button:hover {
  background-color: #fff;
  color: #000;
  border-color: #000;
  transition: 0.5s;
}
.input-danger {
  border-color: darkred !important;
}
.alert-danger-input {
  display: block;
  width: 90%;
  margin: auto;
  font-size: 13px;
  border-color: darkred !important;
}

.alert-danger-erorr {
  background-color: darkred;
  border: 1px solid red;
  color: #fff;
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 15px;
}
